html {
  scroll-behavior: smooth;
}

.masthead {
    width: 100vw; /* Ocupar 100% da largura da viewport */
    margin: 0; /* Remover margens que possam estar no container */
    padding: 0; /* Remover padding */
}

.masthead img {
    width: 100%; /* Faz a imagem ocupar 100% da largura do container */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaçamento indesejado ao redor da imagem */
}
.navbar {
  transition: top 0.6s;
}

  
  body{
    font-family: "Cabin", sans-serif;
  }
  .nav-link {
    color: #000 !important; /* Cor do texto padrão */
    transition: color 0.3s ease, transform 0.3s ease !important;
    position: relative;
  }
  .custom-margin-bottom {

    font-family: "Raleway", sans-serif; /* Adiciona a fonte Roboto */
    
}

.custom-text {
    font-family: "Cabin", sans-serif; /* Adiciona a fonte Roboto */
}

/* Para garantir que o título também utilize a fonte correta */
.display-5 {
    font-family: "Raleway", sans-serif;; /* Adiciona a fonte Roboto */
}
header h1 {
  text-align: left; 
  font-family: "Raleway", sans-serif;
}
header p {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 1px;

} 
.custom-text-size {
  font-size: 1.25rem; /* Ajuste o valor conforme necessário */
}
header h1.smaller-font {
  font-size: 1.5rem; /* Ajuste o valor conforme necessário */

}
.omaga{
  text-align: center;
  
}

  .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #053f81, #007bff); /* Gradiente linear */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease !important;
  }
  
  .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .nav-link:hover {
    color: #007bff !important;
  }
  .custom-margin-bottom {
    margin-bottom: 30px; /* Ajuste o valor conforme necessário */
  }
  .eras{
    color: #00000094;


  }
  .gradient-box {
    width: 100%;
    min-height: 50vh; /* Altura mínima da tela inteira */

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 70px; /* Ajuste conforme a altura do nav */
}

.gradient-box img {
    max-width: 100%;
    height: auto;
    border-radius: 20px; /* Ajuste se desejar bordas arredondadas */
}
.custom-container {
    margin-top: 300px; /* Ajuste o valor conforme necessário */
}

/* Caixa "Cybersecurity Solutions" - Fundo azul escuro e texto branco */
.cybersecurity-box {
   /* Azul escuro */
  color: white;
}

.cybersecurity-box .card-title, .cybersecurity-box .card-text {
  color: white; /* Certificar-se de que o texto também fique branco */
}

/* Caixa "Data Privacy & Compliance" - Fundo preto e texto branco */
.data-privacy-box {
  background-color: black;
  color: white;
}

.data-privacy-box .card-title, .data-privacy-box .card-text {
  color: white; /* Certificar-se de que o texto também fique branco */
}

.card {
  display: flex;
  flex-direction: column; 
  margin-bottom: 50px; 
}


.card-img-top {
  width: 100%; /* Garante que a imagem ocupe 100% da largura do cartão */
  height: auto; /* Mantém a proporção da imagem */
}

.card-body {
  flex-grow: 1; /* Garante que o conteúdo da carta ocupe o espaço disponível */
  padding: 20px; /* Adiciona espaçamento interno ao conteúdo */
   font-family: "Cabin", sans-serif
}

.card-text {
  margin-top: 10px; /* Adiciona espaçamento entre o texto e o título */
  font-family: "Cabin", sans-serif
}

.col-lg-6 {
  margin-bottom: 30px; /* Adiciona espaçamento inferior entre as colunas */
}

a img {
  margin-bottom: 20px; /* Adiciona espaçamento abaixo da imagem para evitar sobreposição */
}

.intelligence {
    width: 100%; /* Ajusta a largura para preencher o contêiner pai */
}

.intelligence img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura da div pai */
    height: auto; /* Mantém a proporção da imagem */
}
.custom-margin {
  margin-top: 100px; /* Aumenta a margem superior */
  margin-bottom: 50px; /* Espaçamento extra abaixo do título */
}

.custom-paragraph {
  margin-top: 30px; /* Ajusta a margem superior do parágrafo */
}
.masthead img {
  max-width: 80%; /* Ajuste conforme necessário */
}

/* Para dispositivos menores (mobile) */
@media (max-width: 768px) {
  .masthead img {
      max-width: 100%; /* Aumente a largura da imagem */
      aspect-ratio: 2.88;
    object-fit: cover;
    max-width: 100%;
    width: 100vw;
    height: 60vh;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: 00px;
    transition: transform 0.3s ease; 

  }
  header p {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-size: 1px;
  
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out;
  transform: translateY(20px); /* Movimenta ligeiramente para cima para dar um efeito suave */
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0); /* Retorna à posição original */
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: "Cabin", sans-serif;
  
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
  
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more t {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 .button-text1 {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 .button-text2 {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 .button-text3 {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }
 /* 0 */


 button.learn-more1 {
  width: 12rem;
  height: auto;
  
 }
 
 button.learn-more1 .circle1 {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more1 .circle1 .icon1 {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more1 .circle1 .icon.arrow1 {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more1 .circle1 .icon.arrow1::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more1 .button-text1 {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle1 {
  width: 100%;
 }
 
 button:hover .circle1 .icon.arrow1{
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text1 {
  color: #fff;
 }
 /* //////////// */
 .hero-image {
  position: relative;
  width: 100%;
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
}
.lead.fs-3 {
  text-align: left; /* Alinha o texto à esquerda */
}


.hero-section {
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: end; /* Centraliza a imagem verticalmente */
  margin-top: 10vw; /* Espaçamento entre a imagem e a próxima seção */
}

.priorities-section {
  background-color: #007b88; /* Mantenha a cor da caixa azul */
  padding: 40px 20px;
  margin-top: 20px; /* Ajuste para controlar o espaçamento da caixa azul */
}
.card {
  background-color: white;
  border-radius: 8px;
  
}

.priorities-section {
  padding: 50px 0;
}

.priorities-section h2, .priorities-section p, .priorities-section h3 {
  margin-bottom: 20px;
}
.financial-box {
  text-align: justify;
  padding: 1vw;
  max-width: 840px;
  margin: 20px auto;
  margin-bottom: 10vw;
  font-family: "Cabin", sans-serif;
  font-size: 19px;
  line-height: 1.5;
  color: #333;
}
.titulo h2 {
  text-align: center;
  font-family: "Cabin", sans-serif;
  align-self: center;
  z-index: 10;
  margin: -25px 0 0 11px;
  font: 400 35px/1 "Cabin", sans-serif;
  margin-bottom: 25px;
  color: #000000;
  margin-top: 8vw;
}

.contact-footer {
  background-color: #afafaf00;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column; 
  align-items: center; 
  max-width: 100%;
  gap: 20px; 
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
  padding: 20px 11px; 
}


.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.contact-title {
  color: rgb(97, 97, 97);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.contact-email {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 5px; 
}

.contact-address {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px; 
}

.copyright {
  text-align: center;
  color: #272727;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
}
hr.divider {
  border: none;
  border-top: 2px solid #000000; /* Light gray color */
  margin: 20px 0; /* Adjust spacing as needed */
}
